<div class="status-feed">

    <h2><span class="status--good blinker"></span>Litmus Application</h2>
    <p class="status-update">
      <span class="date">Jan 16, 14:15 EST</span>
      No known issues at this time
    </p>

    <div class="subscribe">
      <form class="form-wrapper">
        <input placeholder="Enter your email to receive notifications about this" type="email" name="email">
        <input class="fade" type="submit" value="Subscribe">
      </form>
    </div>

    <div class="update mrg-bttm--15">
      <span class="avatar mathew"></span><h3>Matthew Brindley, CTO</h3>
      <p>
        This evening we will be doing maintenance on site search. During this maintenance window search functionality (including community, analytics, checklist, and spam) will be unavailable.      </p>
      <span class="date">Jan 16, 12:20 EST</span>
    </div>

</div>
