<div class="status-feed">

    <h2><span class="status--issue blinker"></span>Spam Filters</h2>
    <p class="status-update">
      <span class="date">Jan 16, 14:15 EST</span>
      Service is currently unavailable
    </p>

    <div class="subscribe">
      <form class="form-wrapper">
        <input placeholder="Enter your email to receive notifications about this issue" type="email" name="email">
        <input class="fade" type="submit" value="Subscribe">
      </form>
    </div>

    <div class="update mrg-bttm--15">
      <span class="avatar mathew"></span><h3>Matthew Brindley, CTO</h3>
      <p>
        Platform builds are being affected thus resulting in build delays and failures, but after remediation are now returning to normal. We will continue to monitor these.
      </p>
      <span class="date">Jan 9, 13:17 EST</span>
    </div>

    <div class="update">
      <span class="avatar nichole"></span><h3>Nichole Robbins, Support</h3>
      <p>
        We’re investigating issues with API rate limit token regeneration affecting applications with heavy API usage. This could cause applications to deplete their API token bucket in some cases.
      </p>
      <span class="date">Jan 9, 12:15 EST</span>
    </div>

</div>
